
[submodule "api-getway"]
	path = api-getway
	url = https://github.com/Nestjs-Microservices-HoaTran1002/products-MS-Boostrap.git
[submodule "products-Microservices"]
	path = products-Microservices
	url = https://github.com/Nestjs-Microservices-HoaTran1002/products-Microservices.git
[submodule "orders-microservices"]
	path = orders-microservices
	url = https://github.com/Nestjs-Microservices-HoaTran1002/orders-micaroservices.git
[submodule "payments-microservices"]
	path = payments-microservices
	url = https://github.com/Nestjs-Microservices-HoaTran1002/payments-microservices.git
