
[submodule "products-Microservices"]
	path = products-Microservices
	url = https://github.com/Nestjs-Microservices-HoaTran1002/products-Microservices.git
[submodule "orders-microservices"]
	path = orders-microservices
	url = https://github.com/Nestjs-Microservices-HoaTran1002/orders-micaroservices.git
[submodule "payments-microservices"]
	path = payments-microservices
	url = https://github.com/Nestjs-Microservices-HoaTran1002/payments-microservices.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nestjs-Microservices-HoaTran1002/auth-ms.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Nestjs-Microservices-HoaTran1002/api-gateway.git
